<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="modal" id="MymodalRemoveAnim" th:fragment="copy">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Shopping Cart
                </h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="container" th:each="product : ${orderProducts}">
<!--                    <a th:text="${product.orderQuantity} x"></a>-->
                    <a class="card-title" th:text="${product.name}">Product name</a>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    Ok
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>